<p id="notice"><%= notice %></p>

<h1>Products</h1>
<div class="row">
  <% @products.each do |product| %>
    <div class="col-md-3">
      <%= image_tag product.product_images.first.photo.url :medium %>
    </div>
    <div class="col-md-4">
      <p><%= product.product_images.first.caption %></p>
      <h1><%= product.name %></h1>
      <p>Price:<%= product.price %></p>
      <p><%= product.description %></p>
    </div>
  <% end %>
</div>
<div class="row">
  <hr>
</div>
<%= link_to 'New Product', new_product_path %>
